/*.header {
    text-align: center;
}*/


#nav {
		position: absolute;
		top: 3em;
		left: 0;
		width: 100%;
		cursor: default;
        padding-top: 20px;
	}

		#nav > ul > li {
			display: inline-block;
			padding-right: 4em;
			padding-left: 2em;
		}

			

			#nav > ul > li > a {
				border: 0;
				text-decoration: none;
				text-transform: uppercase;
				font-weight: 700;
				color: white;
    			display: block;
			}

				
			#nav > ul > li:hover > a > span {
				color: grey;
			}


#nav2 >li >a {
    color:yellowgreen;
}


#top {
		position: relative;
		overflow: hidden;
		background: rgb(188, 226, 210);
		text-align: center;
        padding: 2em 0;
		color: black;
		margin-top: 4em;
}
    

.image{

background-image: url("pexels.jpeg");

background-repeat: no-repeat;

background-size: cover;





}


#mainheading{
	color: rgb(187, 189, 187);
    padding-bottom: 30px;
}


#subheading{
	color: rgb(187, 189, 187);
	text-align: left;
    padding-top: 30px;


}

p{
text-align: justify;	
color:white;
}

#blog{
    color:white;
    padding-top:30px;
}
#blog1 > a{
    color:rgb(121, 185, 121);
}
#blog1 > a:hover{
    color:blue;
}

#blog1 > a:visited{
    color:rgb(204, 120, 204);
}



